In [2]:
import os
import pandas as pd

pd.set_option('display.max_columns', None)

# Listar todos os arquivos CSV na pasta
csv_files = [f for f in os.listdir('./dados_extraidos') if f.endswith('.csv')]

# Carregar os 5 primeiros arquivos CSV para análise
for file in csv_files[:30]:  # Carregar apenas os 5 primeiros para análise
    # Ajustando para ler arquivos com codificação 'latin1' e separador ';'
    df = pd.read_csv(os.path.join('./dados_extraidos', file), encoding='latin1', sep=';')
    print(f"Conteúdo do arquivo {file}:\n", df.head(), "\n")

Conteúdo do arquivo v_advogado_adverso_CodEmpresa_92577.csv:
    codigo         nome       telefone1  email1      oab     data_cadastro  \
0   34077  Contrário 1             NaN     NaN    12345  06/05/2013 12:42
1   37488  Contrário 2             NaN     NaN      NaN  08/07/2013 11:19
2   48283  Contrário 3             NaN     NaN  12345UF  12/02/2014 17:06
3   68709  Contrário 4  (00) 1234-5678     NaN      NaN  28/04/2015 09:42
4   55344  Contrário 5  (00) 8765-4321     NaN    1.234  02/07/2014 17:25

   ativo  cod_empresa  cod_escritorio       telefone2  migracao  migracao2  \
0      1        92577         1992813             NaN       NaN        NaN
1      1        92577         1997655             NaN       NaN        NaN
2      1        92577         2010855             NaN       NaN        NaN
3      1        92577         2041145             NaN       NaN        NaN
4      1        92577         2019879  (00) 9876-1234       NaN        NaN

   migracao3
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

Conteúdo do arquivo v_area_atuacao_CodEmpresa_92577.csv:
    codigo             descricao  ativo  cod_empresa  cod_integra_schema
0       1        Direito CÃ­vel      1            0                   0
1      15    Direito EconÃ´mico      1            0                   0
2      14  Direito AcidentÃ¡rio      1            0                   0
3       2     Direito Comercial      1            0                   0
4      16   Direito Empresarial      1            0                   0

Conteúdo do arquivo v_assunto_CodEmpresa_92577.csv:
       codigo  codempresa                                 descricao  migracao  \
0  100174547       92577  IndÃ­cio de Irregularidade em BenefÃ­cio       NaN
1  100159249       92577                   ExecuÃ§Ã£o de Alimentos       NaN
2  100155263       92577                            Regime de Bens       NaN
3  100133121       92577                   HonorÃ¡rios Contratuais       NaN
4  100125580       92577                      SalÃ¡rio Maternidade       NaN

   ativo  migracao2  migracao3
0      1        NaN        NaN
1      1        NaN        NaN
2      1        NaN        NaN
3      1        NaN        NaN
4      1        NaN        NaN

Conteúdo do arquivo v_atendimentos_processo_CodEmpresa_92577.csv:
       codigo  codempresa                                          descricao  \
0  148272387       92577                               CLIENTE PERGUNTOu...
1  148890893       92577                              CLIENTE PERGUNTOu (1)
2  159343249       92577                              CLIENTE PERGUNTOu (2)
3  136571726       92577                              CLIENTE PERGUNTOu (3)
4  136573872       92577  ENVIEI POR WHATSAPP.<br /> boa tarde!<br /><br...

   codcliente          inclusao  codusuario  codprocesso  data_atendimento  \
0   100863148  12/03/2020 10:09      476917    100930456  12/03/2020 10:09
1    11486774  28/04/2020 11:29      301340     11624833  28/04/2020 11:29
2   105667497  13/12/2021 10:49      301340    106289478  13/12/2021 10:49
3   100361847  15/06/2018 14:38      347394    100324713  15/06/2018 14:38
4    15417691  15/06/2018 15:21      347394     15824091  15/06/2018 15:21

   adm  objeto  pendencia  clientevisualiza  cod_tipo_movimento  migracao  \
0  NaN     NaN        NaN                 0                   3       NaN
1  NaN     NaN        NaN                 0                   3       NaN
2  NaN     NaN        NaN                 0                   3       NaN
3  NaN     NaN        NaN                 0                   3       NaN
4  NaN     NaN        NaN                 0                   3       NaN

   tipo_autalizacao  ativo  unificador_cliente  cod_cliente_removido  \
0               NaN      1                 NaN                   NaN
1               NaN      1                 NaN                   NaN
2               NaN      1                 NaN                   NaN
3               NaN      1                 NaN                   NaN
4               NaN      1                 NaN                   NaN

   unificador_processo  cod_processo_removido  movimentacao_sistema  \
0                  NaN                    NaN                   NaN
1                  NaN                    NaN                   NaN
2                  NaN                    NaN                   NaN
3                  NaN                    NaN                   NaN
4                  NaN                    NaN                   NaN

   migracao2  migracao3  migracao4
0        NaN        NaN        NaN
1        NaN        NaN        NaN
2        NaN        NaN        NaN
3        NaN        NaN        NaN
4        NaN        NaN        NaN

Conteúdo do arquivo v_campo_livre2_CodEmpresa_92577.csv:
       codigo    descricao     data_cadastro  ativo  cod_empresa tipo  \
0  100020816     Parceria  09/09/2021 17:18      1        92577   JU
1  100013627  Rede Social  28/05/2020 16:23      1        92577   FI
2       8938         UFPR  30/09/2012 16:46      1        92577   JU
3       6279  IndicaÃ§Ã£o  09/07/2012 22:31      1        92577   FI
4       7551  IndicaÃ§Ã£o  08/08/2012 17:50      1        92577   JU

   migracao  migracao2  migracao3
0       NaN        NaN        NaN
1       NaN        NaN        NaN
2       NaN        NaN        NaN
3       NaN        NaN        NaN
4       NaN        NaN        NaN

Conteúdo do arquivo v_clientes_CodEmpresa_92577.csv:
       codigo  codempresa  codigo_administrativo  codigo_unit razao_social  \
0  106207729       92577                    NaN            0  Fulano(a) 1
1  106206605       92577                    NaN            0  Fulano(a) 2
2    8897738       92577                    NaN            0  Fulano(a) 3
3    5251301       92577                    NaN            0  Fulano(a) 4
4   13203419       92577                    NaN            0  Fulano(a) 5

  nome_fantasia responsavel cnpj contato_nome  contato_ddd1 contato_telefone1  \
0           NaN         NaN  NaN          NaN           NaN               NaN
1           NaN         NaN  NaN          NaN           NaN               NaN
2           NaN         NaN  NaN          NaN           NaN               NaN
3           NaN         NaN  NaN          NaN           NaN               NaN
4           NaN         NaN  NaN         Jana           NaN    (00) 1234-5456

   inscricao_estadual  inscricao_municipal ramo_atividade  tratamento  \
0                 NaN                  NaN            NaN         NaN
1                 NaN                  NaN            NaN         NaN
2                 NaN                  NaN            NaN         NaN
3                 NaN                  NaN            NaN         NaN
4                 NaN                  NaN            NaN         NaN

  estado_civil  oab             cpf            rg        nascimento  \
0          NaN  NaN  123.456.789-00  UF 1.234.567  27/02/1957 00:00
1           CA  NaN  123.456.789-01  12.123.123-0  13/01/1966 00:00
2           CA  NaN  123.456.789-02  12.123.123-1  10/05/1982 00:00
3           CA  NaN  123.456.789-03  12.123.123-2  01/01/1956 00:00
4           CA  NaN  123.456.789-04  12.123.123-3  14/04/1963 00:00

                      profissao nacionalidade  \
0                           NaN    Brasileiro
1                           NaN    Brasileira
2                   EmpresÃ¡rio    Brasileiro
3  Auxiliar de ServiÃ§os Gerais    Brasileira
4                 IndustriÃ¡rio    Brasileira

                               logradouro  numero  complemento  bairro  \
0  Rua dos Candidatos, Escola Advbox, n 1     NaN          NaN  Centro
1  Rua dos Candidatos, Escola Advbox, n 2     NaN          NaN  Centro
2  Rua dos Candidatos, Escola Advbox, n 3     NaN          NaN  Centro
3  Rua dos Candidatos, Escola Advbox, n 4     NaN          NaN  Centro
4  Rua dos Candidatos, Escola Advbox, n 5     NaN          NaN  Centro

         cep         cidade  uf  ddd1       telefone1  ddd2       telefone2  \
0  123456-00        Floripa  SC   NaN             NaN   NaN  (00) 9999-1111
1  123456-01  Florianopolis  SC   NaN             NaN   NaN  (00) 9999-1112
2  123456-02  Florianopolis  SC   NaN  (00) 1234-4567   NaN  (00) 9999-1113
3  123456-03  Florianopolis  SC   NaN  (00) 1234-4568   NaN  (00) 9999-1114
4  123456-04        Floripa  Sc   NaN  (00) 1234-4569   NaN  (00) 9999-1115

   ddd3 telefone3          email1        email2 site observacoes cliente  \
0   NaN       NaN             NaN           NaN  NaN       Obs 1      FI
1   NaN       NaN             NaN           NaN  NaN       Obs 2      FI
2   NaN       NaN  c1@hotmail.com  c2@gmail.com  NaN       Obs 3      FI
3   NaN       NaN             NaN  c3@gmail.com  NaN       Obs 4      FI
4   NaN       NaN  c4@hotmail.com           NaN  NaN       Obs 5      FI

   tipocliente  ativo          inclusao  matricula  grupo_cliente  \
0          1.0      0  11/02/2022 14:52        NaN          57759
1          1.0      1  11/02/2022 11:53        NaN          57759
2          1.0      0  04/07/2014 09:41        NaN          57759
3          1.0      1  29/01/2013 12:09        NaN          57759
4          1.0      1  20/04/2016 16:23        NaN          57759

   contato_nome2  contato_nome3  contato_ddd2  contato_ddd3 contato_telefone2  \
0            NaN            NaN           NaN           NaN               NaN
1            NaN            NaN           NaN           NaN               NaN
2            NaN            NaN           NaN           NaN               NaN
3            NaN            NaN           NaN           NaN               NaN
4            NaN            NaN           NaN           NaN               NaN

   contato_telefone3  contato_setor1  contato_setor2  contato_setor3  \
0                NaN             NaN             NaN             NaN
1                NaN             NaN             NaN             NaN
2                NaN             NaN             NaN             NaN
3                NaN             NaN             NaN             NaN
4                NaN             NaN             NaN             NaN

   contato_email1  contato_email2  contato_email3  ddd_comercial  \
0             NaN             NaN             NaN            NaN
1             NaN             NaN             NaN            NaN
2             NaN             NaN             NaN            NaN
3             NaN             NaN             NaN            NaN
4             NaN             NaN             NaN            NaN

  telefone_comercial           pis nome_pai nome_mae  pac  \
0                NaN           NaN   José 1  Maria 1    0
1                NaN           NaN   José 2  Maria 2    0
2                NaN  1.234568e+10   José 3  Maria 3    0
3                NaN  1.234568e+10   José 4  Maria 4    0
4                NaN  1.234568e+10   José 5  Maria 5    0

   visualizado_relatorio_pac  pac_regional  cod_fase_cliente  migracao  \
0                          0           NaN                 1       NaN
1                          0           NaN                 1       NaN
2                          0           NaN                 1       NaN
3                          0           NaN                 1       NaN
4                          0           NaN                 1       NaN

  razao_social_2  migracao2        cpf_cnpj  escritorio  cod_perfil_cliente  \
0    FULANO(A) 1        NaN  123.456.789-00         NaN                   0
1    FULANO(A) 2        NaN  123.456.789-01         NaN                   0
2    FULANO(A) 3        NaN  123.456.789-02         NaN                   0
3    FULANO(A) 4        NaN  123.456.789-03         NaN                   0
4    FULANO(A) 5        NaN  123.456.789-04         NaN                   0

  campo_livre1 campo_livre2  cod_campo_livre2  cod_terceiro_categoria  \
0          NaN          NaN               NaN                     NaN
1          NaN          NaN               NaN                     NaN
2           OI          NaN            7461.0                     NaN
3          TIM          NaN            6280.0                     NaN
4          TIM          NaN            6280.0                     NaN

   numero_pasta  migracao_parceiro  cod_cliente_estado_civil  cod_usuario  \
0        1367.0                NaN                       NaN          NaN
1        1366.0                NaN                       NaN          NaN
2         341.0                NaN                       NaN          NaN
3         160.0                NaN                       NaN          NaN
4         560.0                NaN                       NaN          NaN

   cod_estado_brasil  migracao3  cod_escolaridade
0                NaN        NaN               NaN
1                NaN        NaN               NaN
2                NaN        NaN               NaN
3                NaN        NaN               NaN
4                NaN        NaN               NaN

Conteúdo do arquivo v_cliente_estado_civil_CodEmpresa_92577.csv:
    codigo        data_cadastro  ativo sigla                  descricao  \
0       1  2012-06-01 03:10:08      1    SO                Solteiro(a)
1       2  2012-06-01 03:10:15      1    CA                  Casado(a)
2       3  2012-06-01 03:10:21      1    DV              Divorciado(a)
3       4  2012-06-01 03:10:27      1    SE        Separado(a) de Fato
4       5  2012-06-01 03:10:35      1    SJ  Separado(a) Judicialmente

   cod_empresa
0            0
1            0
2            0
3            0
4            0

Conteúdo do arquivo v_comarca_CodEmpresa_92577.csv:
       codigo  codempresa     descricao  migracao  ativo  migracao2  migracao3
0  100122904       92577  Campo Grande       NaN      1        NaN        NaN
1  100118968       92577      Cascavel       NaN      1        NaN        NaN
2  100111753       92577    Rio Grande       NaN      1        NaN        NaN
3  100110937       92577      Mesquita       NaN      1        NaN        NaN
4  100104449       92577    SÃ£o Paulo       NaN      1        NaN        NaN

Conteúdo do arquivo v_estado_brasil_CodEmpresa_92577.csv:
    codigo             estado  uf        data_cadastro  ativo  cod_empresa  \
0      14             CearÃ¡  CE  2012-10-22 11:35:16      1            0
1       1  Rio Grande do Sul  RS  2012-10-22 11:35:16      1            0
2      15   Distrito Federal  DF  2012-10-22 11:35:16      1            0
3       2         SÃ£o Paulo  SP  2012-10-22 11:35:16      1            0
4      16             GoiÃ¡s  GO  2012-10-22 11:35:16      1            0

   cod_usuario
0            0
1            0
2            0
3            0
4            0

Conteúdo do arquivo v_fase_CodEmpresa_92577.csv:
    codigo           fase  codempresa  migracao  ativo  migracao2  migracao3
0  223161   Conhecimento       92577       NaN      1        NaN        NaN
1  184959      Arquivado       92577       NaN      1        NaN        NaN
2   84674     ApelaÃ§Ã£o       92577       NaN      1        NaN        NaN
3   70518     ExecuÃ§Ã£o       92577       NaN      1        NaN        NaN
4   68659  ConciliaÃ§Ã£o       92577       NaN      1        NaN        NaN

Conteúdo do arquivo v_grupo_cliente_CodEmpresa_92577.csv:
       codigo descricao  codempresa  migracao  ativo  migracao2  migracao3
0  100008873      AABB       92577       NaN      1        NaN        NaN
1      57759    Matriz       92577       NaN      1        NaN        NaN

Conteúdo do arquivo v_grupo_processo_CodEmpresa_92577.csv:
       codigo             descricao  codempresa  migracao  ativo  migracao2  \
0  100014357         Extrajudicial       92577       NaN      1        NaN
1     178081        Administrativo       92577       NaN      1        NaN
2      44152      JustiÃ§a Federal       92577       NaN      1        NaN
3      44062     JustiÃ§a Estadual       92577       NaN      1        NaN
4      44883  JustiÃ§a do Trabalho       92577       NaN      1        NaN

   migracao3
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

Conteúdo do arquivo v_litis_adverso_CodEmpresa_92577.csv:
    cod_empresa  cod_parte  cod_processo  cod_advparte  cod_usuario  migracao  \
0        92577    4392278     105981584           NaN    100026144       NaN
1        92577    4392278     106260517           NaN    100026144       NaN
2        92577    4392278     106008354           NaN    100026144       NaN
3        92577  105671530     106395167           NaN       559945       NaN
4        92577  105671530     106395046           NaN       559945       NaN

   parte_principal  ativo  unificador_cliente  cod_cliente_removido  \
0                1      1                 NaN                   NaN
1                1      1                 NaN                   NaN
2                1      1                 NaN                   NaN
3                1      1                 NaN                   NaN
4                1      1                 NaN                   NaN

   unificador_processo  cod_processo_removido  migracao2  migracao3
0                    0                      0        NaN        NaN
1                    0                      0        NaN        NaN
2                    0                      0        NaN        NaN
3                    0                      0        NaN        NaN
4                    0                      0        NaN        NaN

Conteúdo do arquivo v_litis_cliente_CodEmpresa_92577.csv:
    cod_empresa  cod_parte  cod_processo  cod_usuario  migracao  \
0        92577  106207729     106929711       347394       NaN
1        92577  106206605     106928376    100097650       NaN
2        92577    9805594     106922355       559945       NaN
3        92577  106201416     106922171       347394       NaN
4        92577  106195506     106915111       347394       NaN

   parte_principal  ativo  listar_como_cliente  unificador_cliente  \
0                1      1                    1                 NaN
1                1      1                    1                 NaN
2                1      1                    1                 NaN
3                1      1                    1                 NaN
4                1      1                    1                 NaN

   cod_cliente_removido  unificador_processo  cod_processo_removido  \
0                   NaN                    0                      0
1                   NaN                    0                      0
2                   NaN                    0                      0
3                   NaN                    0                      0
4                   NaN                    0                      0

   migracao2  migracao3
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

Conteúdo do arquivo v_litis_terceiro_CodEmpresa_92577.csv:
    cod_empresa  cod_parte  cod_processo  cod_advparte  cod_usuario  migracao  \
0        92577   15441751     106851291           NaN       301340       NaN
1        92577    6203993       5224892           NaN       301340       NaN
2        92577    6203993       6382049           NaN       301340       NaN
3        92577    6203993       5993298           NaN       301340       NaN
4        92577    6203993       7026716           NaN       347394       NaN

   parte_principal  ativo  unificador_cliente  cod_cliente_removido  \
0              NaN      1                 NaN                   NaN
1              1.0      1                 NaN                   NaN
2              1.0      1                 NaN                   NaN
3              1.0      1                 NaN                   NaN
4              NaN      1                 NaN                   NaN

   unificador_processo  cod_processo_removido  migracao2  migracao3
0                    0                      0        NaN        NaN
1                    0                      0        NaN        NaN
2                    0                      0        NaN        NaN

In [3]:
# Listar todos os arquivos CSV na pasta
csv_files = [f for f in os.listdir('./dados_extraidos') if f.endswith('.csv')]

# Imprimir lista com os nomes de todos os arquivos CSV
print("Lista de arquivos CSV:", csv_files)

Lista de arquivos CSV: ['v_advogado_adverso_CodEmpresa_92577.csv', 'v_area_atuacao_CodEmpresa_92577.csv', 'v_assunto_CodEmpresa_92577.csv', 'v_atendimentos_processo_CodEmpresa_92577.csv', 'v_campo_livre2_CodEmpresa_92577.csv', 'v_clientes_CodEmpresa_92577.csv', 'v_cliente_estado_civil_CodEmpresa_92577.csv', 'v_comarca_CodEmpresa_92577.csv', 'v_estado_brasil_CodEmpresa_92577.csv', 'v_fase_CodEmpresa_92577.csv', 'v_grupo_cliente_CodEmpresa_92577.csv', 'v_grupo_processo_CodEmpresa_92577.csv', 'v_litis_adverso_CodEmpresa_92577.csv', 'v_litis_cliente_CodEmpresa_92577.csv', 'v_litis_terceiro_CodEmpresa_92577.csv', 'v_localizador_CodEmpresa_92577.csv', 'v_local_tramite_CodEmpresa_92577.csv', 'v_objeto_acao_CodEmpresa_92577.csv', 'v_pastas_CodEmpresa_92577.csv', 'v_perfil_cliente_CodEmpresa_92577.csv', 'v_processos_CodEmpresa_92577.csv', 'v_prognosticos_CodEmpresa_92577.csv', 'v_protocolo_status_CodEmpresa_92577.csv', 'v_recurso_CodEmpresa_92577.csv', 'v_recurso_prognostico_CodEmpresa_92577.csv', 'v_statusprocessual_CodEmpresa_92577.csv', 'v_tipo_recurso_CodEmpresa_92577.csv', 'v_tribunal_CodEmpresa_92577.csv', 'v_usuario_advogado_CodEmpresa_92577.csv', 'v_usuario_CodEmpresa_92577.csv', 'v_valor_causa2_CodEmpresa_92577.csv', 'v_valor_causa_CodEmpresa_92577.csv']

In [86]:
# Caminho para o arquivo
advogado_adverso = './dados_extraidos/v_advogado_adverso_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_advogado_adverso = pd.read_csv(advogado_adverso, encoding='latin1', sep=';')

print('Advogado Adverso')
df_advogado_adverso.head(3)
#df_advogado_adverso.columns

Advogado Adverso

,codigo,nome,telefone1,email1,oab,data_cadastro,ativo,cod_empresa,cod_escritorio,telefone2,migracao,migracao2,migracao3
0,34077,Contrário 1,NaN,NaN,12345,06/05/2013 12:42,1,92577,1992813,NaN,NaN,NaN,NaN
1,37488,Contrário 2,NaN,NaN,NaN,08/07/2013 11:19,1,92577,1997655,NaN,NaN,NaN,NaN
2,48283,Contrário 3,NaN,NaN,12345UF,12/02/2014 17:06,1,92577,2010855,NaN,NaN,NaN,NaN

In [5]:
df_advogado_adverso.shape

(10, 13)

In [101]:
# Caminho para o arquivo
area_atuacao = './dados_extraidos/v_area_atuacao_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_area_atuacao = pd.read_csv(area_atuacao, encoding='utf-8', sep=';')

print('Tabela Areas Atuacao do Direito (codarea_acao)')
df_area_atuacao.head(3)
#df_area_atuacao.columns

Tabela Areas Atuacao do Direito (codarea_acao)

   codigo            descricao  ativo  cod_empresa  cod_integra_schema
0       1        Direito Cível      1            0                   0
1      15    Direito Econômico      1            0                   0
2      14  Direito Acidentário      1            0                   0

In [7]:
df_area_atuacao.shape

(27, 5)

In [107]:
# Caminho para o arquivo
assunto = './dados_extraidos/v_assunto_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_assunto = pd.read_csv(assunto, encoding='utf-8', sep=';')

print('Tabela Assuntos Referente ao Processo (codassunto)')
df_assunto.head(3)
#df_assunto.columns

Tabela Assuntos Referente ao Processo (codassunto)

,codigo,codempresa,descricao,migracao,ativo,migracao2,migracao3
0,100174547,92577,Indício de Irregularidade em Benefício,NaN,1,NaN,NaN
1,100159249,92577,Execução de Alimentos,NaN,1,NaN,NaN
2,100155263,92577,Regime de Bens,NaN,1,NaN,NaN

In [9]:
df_assunto.shape

(101, 7)

In [10]:
df_assunto.duplicated().sum()

0

In [11]:
# Caminho para o arquivo
atendimentos_processo = './dados_extraidos/v_atendimentos_processo_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_atendimentos_processo = pd.read_csv(atendimentos_processo, encoding='utf-8', sep=';')

print('Tabela Info Atendimento do Processo - Codusuario, codprocesso')
df_atendimentos_processo.head(3)
#df_atendimentos_processo.columns

Tabela Info Atendimento do Processo - Codusuario, codprocesso

,codigo,codempresa,descricao,codcliente,inclusao,codusuario,codprocesso,data_atendimento,adm,objeto,pendencia,clientevisualiza,cod_tipo_movimento,migracao,tipo_autalizacao,ativo,unificador_cliente,cod_cliente_removido,unificador_processo,cod_processo_removido,movimentacao_sistema,migracao2,migracao3,migracao4
0,148272387,92577,CLIENTE PERGUNTOu...,100863148,12/03/2020 10:09,476917,100930456,12/03/2020 10:09,NaN,NaN,NaN,0,3,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,148890893,92577,CLIENTE PERGUNTOu (1),11486774,28/04/2020 11:29,301340,11624833,28/04/2020 11:29,NaN,NaN,NaN,0,3,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,159343249,92577,CLIENTE PERGUNTOu (2),105667497,13/12/2021 10:49,301340,106289478,13/12/2021 10:49,NaN,NaN,NaN,0,3,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_atendimentos_processo.shape

(9, 24)

In [13]:
# Caminho para o arquivo
campo_livre2 = './dados_extraidos/v_campo_livre2_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_campo_livre2 = pd.read_csv(campo_livre2, encoding='utf-8', sep=';')

print('Campo Livre2 - ORIGEM DO CLIENTE')
df_campo_livre2.head(12)
#df_campo_livre2.columns

Campo Livre2 - ORIGEM DO CLIENTE

,codigo,descricao,data_cadastro,ativo,cod_empresa,tipo,migracao,migracao2,migracao3
0,100020816,Parceria,09/09/2021 17:18,1,92577,JU,NaN,NaN,NaN
1,100013627,Rede Social,28/05/2020 16:23,1,92577,FI,NaN,NaN,NaN
2,8938,UFPR,30/09/2012 16:46,1,92577,JU,NaN,NaN,NaN
3,6279,Indicação,09/07/2012 22:31,1,92577,FI,NaN,NaN,NaN
4,7551,Indicação,08/08/2012 17:50,1,92577,JU,NaN,NaN,NaN
5,6331,Família,10/07/2012 15:24,1,92577,FI,NaN,NaN,NaN
6,7461,Igreja,02/08/2012 18:05,1,92577,FI,NaN,NaN,NaN
7,6280,UTFPR,09/07/2012 22:56,1,92577,FI,NaN,NaN,NaN
8,100000305,Igreja,01/02/2018 14:13,1,92577,JU,NaN,NaN,NaN
9,100002369,AABB,23/07/2018 10:39,1,92577,JU,NaN,NaN,NaN
10,100001681,Parceria,06/06/2018 09:38,1,92577,FI,NaN,NaN,NaN
11,100001744,AABI,11/06/2018 08:39,1,92577,FI,NaN,NaN,NaN

In [14]:
df_campo_livre2.shape

(12, 9)

In [102]:
# Caminho para o arquivo
clientes = './dados_extraidos/v_clientes_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_clientes = pd.read_csv(clientes, encoding='latin1', sep=';')

print('Tabela Clientes (cod_cliente)')
df_clientes.head(3)
#df_clientes.columns

Tabela Clientes (cod_cliente)

,codigo,codempresa,codigo_administrativo,codigo_unit,razao_social,nome_fantasia,responsavel,cnpj,contato_nome,contato_ddd1,contato_telefone1,inscricao_estadual,inscricao_municipal,ramo_atividade,tratamento,estado_civil,oab,cpf,rg,nascimento,profissao,nacionalidade,logradouro,numero,complemento,bairro,cep,cidade,uf,ddd1,telefone1,ddd2,telefone2,ddd3,telefone3,email1,email2,site,observacoes,cliente,tipocliente,ativo,inclusao,matricula,grupo_cliente,contato_nome2,contato_nome3,contato_ddd2,contato_ddd3,contato_telefone2,contato_telefone3,contato_setor1,contato_setor2,contato_setor3,contato_email1,contato_email2,contato_email3,ddd_comercial,telefone_comercial,pis,nome_pai,nome_mae,pac,visualizado_relatorio_pac,pac_regional,cod_fase_cliente,migracao,razao_social_2,migracao2,cpf_cnpj,escritorio,cod_perfil_cliente,campo_livre1,campo_livre2,cod_campo_livre2,cod_terceiro_categoria,numero_pasta,migracao_parceiro,cod_cliente_estado_civil,cod_usuario,cod_estado_brasil,migracao3,cod_escolaridade
0,106207729,92577,NaN,0,Fulano(a) 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.456.789-00,UF 1.234.567,27/02/1957 00:00,NaN,Brasileiro,"Rua dos Candidatos, Escola Advbox, n 1",NaN,NaN,Centro,123456-00,Floripa,SC,NaN,NaN,NaN,(00) 9999-1111,NaN,NaN,NaN,NaN,NaN,Obs 1,FI,1.0,0,11/02/2022 14:52,NaN,57759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,José 1,Maria 1,0,0,NaN,1,NaN,FULANO(A) 1,NaN,123.456.789-00,NaN,0,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,NaN,NaN
1,106206605,92577,NaN,0,Fulano(a) 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CA,NaN,123.456.789-01,12.123.123-0,13/01/1966 00:00,NaN,Brasileira,"Rua dos Candidatos, Escola Advbox, n 2",NaN,NaN,Centro,123456-01,Florianopolis,SC,NaN,NaN,NaN,(00) 9999-1112,NaN,NaN,NaN,NaN,NaN,Obs 2,FI,1.0,1,11/02/2022 11:53,NaN,57759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,José 2,Maria 2,0,0,NaN,1,NaN,FULANO(A) 2,NaN,123.456.789-01,NaN,0,NaN,NaN,NaN,NaN,1366.0,NaN,NaN,NaN,NaN,NaN,NaN
2,8897738,92577,NaN,0,Fulano(a) 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CA,NaN,123.456.789-02,12.123.123-1,10/05/1982 00:00,EmpresÃ¡rio,Brasileiro,"Rua dos Candidatos, Escola Advbox, n 3",NaN,NaN,Centro,123456-02,Florianopolis,SC,NaN,(00) 1234-4567,NaN,(00) 9999-1113,NaN,NaN,c1@hotmail.com,c2@gmail.com,NaN,Obs 3,FI,1.0,0,04/07/2014 09:41,NaN,57759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.234568e+10,José 3,Maria 3,0,0,NaN,1,NaN,FULANO(A) 3,NaN,123.456.789-02,NaN,0,OI,NaN,7461.0,NaN,341.0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_clientes.shape

(1828, 83)

In [17]:
df_clientes.duplicated().sum()

21

In [18]:
df_clientes['codigo'].is_unique

False

In [19]:
df_clientes['codigo'].value_counts()

codigo
12080449     2
7222722      2
11148520     2
10709454     2
12173683     2
            ..
101812857    1
12972813     1
12010149     1
5418906      1
4730890      1
Name: count, Length: 1807, dtype: int64

In [20]:
# Caminho para o arquivo
cliente_estado_civil = './dados_extraidos/v_cliente_estado_civil_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_cliente_estado_civil = pd.read_csv(cliente_estado_civil, encoding='utf-8', sep=';')

print('Tabela Tipos de Estado Civil')
df_cliente_estado_civil.head(7)
#df_cliente_estado_civil.columns

Tabela Tipos de Estado Civil

,codigo,data_cadastro,ativo,sigla,descricao,cod_empresa
0,1,2012-06-01 03:10:08,1,SO,Solteiro(a),0
1,2,2012-06-01 03:10:15,1,CA,Casado(a),0
2,3,2012-06-01 03:10:21,1,DV,Divorciado(a),0
3,4,2012-06-01 03:10:27,1,SE,Separado(a) de Fato,0
4,5,2012-06-01 03:10:35,1,SJ,Separado(a) Judicialmente,0
5,6,2012-06-01 03:10:40,1,VI,Viúvo(a),0
6,7,2012-06-01 03:10:49,1,UE,União Estável,0

In [21]:
df_cliente_estado_civil.shape

(7, 6)

In [108]:
# Caminho para o arquivo
comarca = './dados_extraidos/v_comarca_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_comarca = pd.read_csv(comarca, encoding='utf-8', sep=';')

print('Tabela Comarcas (codcomarca)')
df_comarca.head(3)
#df_comarca.columns

Tabela Comarcas (codcomarca)

      codigo  codempresa     descricao  migracao  ativo  migracao2  migracao3
0  100122904       92577  Campo Grande       NaN      1        NaN        NaN
1  100118968       92577      Cascavel       NaN      1        NaN        NaN
2  100111753       92577    Rio Grande       NaN      1        NaN        NaN

In [23]:
df_comarca.shape

(29, 7)

In [24]:
df_comarca.duplicated().sum()

0

In [25]:
# Caminho para o arquivo
estado_brasil = './dados_extraidos/v_estado_brasil_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_estado_brasil = pd.read_csv(estado_brasil, encoding='utf-8', sep=';')

print('Tabela Estados Brasil')
df_estado_brasil.head(3)
#df_estado_brasil.columns

Tabela Estados Brasil

,codigo,estado,uf,data_cadastro,ativo,cod_empresa,cod_usuario
0,14,Ceará,CE,2012-10-22 11:35:16,1,0,0
1,1,Rio Grande do Sul,RS,2012-10-22 11:35:16,1,0,0
2,15,Distrito Federal,DF,2012-10-22 11:35:16,1,0,0

In [26]:
df_estado_brasil.shape

(27, 7)

In [110]:
# Caminho para o arquivo
fase = './dados_extraidos/v_fase_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_fase = pd.read_csv(fase, encoding='utf-8', sep=';')

print('Tabela Fases Processuais - (codigo_fase)')
df_fase.head(6)
#df_fase.columns

Tabela Fases Processuais - (codigo_fase)

   codigo          fase  codempresa  migracao  ativo  migracao2  migracao3
0  223161  Conhecimento       92577       NaN      1        NaN        NaN
1  184959     Arquivado       92577       NaN      1        NaN        NaN
2   84674      Apelação       92577       NaN      1        NaN        NaN
3   70518      Execução       92577       NaN      1        NaN        NaN
4   68659   Conciliação       92577       NaN      1        NaN        NaN
5  101283     Instrução       92577       NaN      1        NaN        NaN

In [28]:
df_fase.shape

(6, 7)

In [29]:
# Caminho para o arquivo
grupo_cliente = './dados_extraidos/v_grupo_cliente_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_grupo_cliente = pd.read_csv(grupo_cliente, encoding='latin1', sep=';')

print('Grupo Cliente')
df_grupo_cliente.head(3)
#df_grupo_cliente.columns

Grupo Cliente

      codigo descricao  codempresa  migracao  ativo  migracao2  migracao3
0  100008873      AABB       92577       NaN      1        NaN        NaN
1      57759    Matriz       92577       NaN      1        NaN        NaN

In [30]:
df_grupo_cliente.shape

(2, 7)

In [109]:
# Caminho para o arquivo
grupo_processo = './dados_extraidos/v_grupo_processo_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_grupo_processo = pd.read_csv(grupo_processo, encoding='utf-8', sep=';')

print('Grupo Processo - (grupo_processo)')
df_grupo_processo.head()
#df_grupo_processo.columns

Grupo Processo - (grupo_processo)

,codigo,descricao,codempresa,migracao,ativo,migracao2,migracao3
0,100014357,Extrajudicial,92577,NaN,1,NaN,NaN
1,178081,Administrativo,92577,NaN,1,NaN,NaN
2,44152,Justiça Federal,92577,NaN,1,NaN,NaN
3,44062,Justiça Estadual,92577,NaN,1,NaN,NaN
4,44883,Justiça do Trabalho,92577,NaN,1,NaN,NaN

In [32]:
df_grupo_processo.shape

(5, 7)

In [33]:
# Caminho para o arquivo
litis_adverso = './dados_extraidos/v_litis_adverso_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_litis_adverso = pd.read_csv(litis_adverso, encoding='utf-8', sep=';')

print('Tabela Litis Adverso')
df_litis_adverso.head(3)
#df_litis_adverso.columns

Tabela Litis Adverso

,cod_empresa,cod_parte,cod_processo,cod_advparte,cod_usuario,migracao,parte_principal,ativo,unificador_cliente,cod_cliente_removido,unificador_processo,cod_processo_removido,migracao2,migracao3
0,92577,4392278,105981584,NaN,100026144,NaN,1,1,NaN,NaN,0,0,NaN,NaN
1,92577,4392278,106260517,NaN,100026144,NaN,1,1,NaN,NaN,0,0,NaN,NaN
2,92577,4392278,106008354,NaN,100026144,NaN,1,1,NaN,NaN,0,0,NaN,NaN

In [34]:
df_litis_adverso.shape

(1696, 14)

In [35]:
# Caminho para o arquivo
litis_cliente = './dados_extraidos/v_litis_cliente_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_litis_cliente = pd.read_csv(litis_cliente, encoding='utf-8', sep=';')

print('Tabela Litis Cliente')
df_litis_cliente.head(3)
#df_litis_cliente.columns

Tabela Litis Cliente

,cod_empresa,cod_parte,cod_processo,cod_usuario,migracao,parte_principal,ativo,listar_como_cliente,unificador_cliente,cod_cliente_removido,unificador_processo,cod_processo_removido,migracao2,migracao3
0,92577,106207729,106929711,347394,NaN,1,1,1,NaN,NaN,0,0,NaN,NaN
1,92577,106206605,106928376,100097650,NaN,1,1,1,NaN,NaN,0,0,NaN,NaN
2,92577,9805594,106922355,559945,NaN,1,1,1,NaN,NaN,0,0,NaN,NaN

In [36]:
df_litis_cliente.shape

(2979, 14)

In [37]:
# Caminho para o arquivo
litis_terceiro = './dados_extraidos/v_litis_terceiro_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_litis_terceiro = pd.read_csv(litis_terceiro, encoding='utf-8', sep=';')

print('Tabela Litis Terceiro')
df_litis_terceiro.head(3)
#df_litis_terceiro.columns

Tabela Litis Terceiro

,cod_empresa,cod_parte,cod_processo,cod_advparte,cod_usuario,migracao,parte_principal,ativo,unificador_cliente,cod_cliente_removido,unificador_processo,cod_processo_removido,migracao2,migracao3
0,92577,15441751,106851291,NaN,301340,NaN,NaN,1,NaN,NaN,0,0,NaN,NaN
1,92577,6203993,5224892,NaN,301340,NaN,1.0,1,NaN,NaN,0,0,NaN,NaN
2,92577,6203993,6382049,NaN,301340,NaN,1.0,1,NaN,NaN,0,0,NaN,NaN

In [38]:
df_litis_terceiro.shape

(199, 14)

In [92]:
# Caminho para o arquivo
localizador = './dados_extraidos/v_localizador_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_localizador = pd.read_csv(localizador, encoding='utf-8', sep=';')

print('Tabela Localizador (destino)')
df_localizador.head(8)
#df_localizador.columns

Tabela Localizador (destino)

,codigo,descricao,codempresa,migracao,ativo,migracao2,migracao3
0,112848,Mesa Recepção,92577,NaN,1,NaN,NaN
1,112869,Mesa Administração 01,92577,NaN,1,NaN,NaN
2,112870,Mesa Administração 02,92577,NaN,1,NaN,NaN
3,112871,Mesa Administração 03,92577,NaN,1,NaN,NaN
4,112872,Mesa Administração 04,92577,NaN,1,NaN,NaN
5,119782,Arquivo Morto,92577,NaN,1,NaN,NaN
6,140604,Mesa Reunião,92577,NaN,1,NaN,NaN
7,140605,Mesa Candidato,92577,NaN,1,NaN,NaN

In [40]:
df_localizador.shape

(8, 7)

In [41]:
# Caminho para o arquivo
local_tramite = './dados_extraidos/v_local_tramite_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_local_tramite = pd.read_csv(local_tramite, encoding='utf-8', sep=';')

print('Tabela Local Tramite (codlocaltramite)')
df_local_tramite.head(3)
#df_local_tramite.columns

Tabela Local Tramite (codlocaltramite)

,codigo,descricao,codempresa,migracao,ativo,migracao2,migracao3
0,100113425,Seção de Dissídios Individuais,92577,NaN,1,NaN,NaN
1,100113424,TRT-3,92577,NaN,1,NaN,NaN
2,100108533,Vara da Direção do Foro,92577,NaN,1,NaN,NaN

In [42]:
df_local_tramite.shape

(39, 7)

In [43]:
df_local_tramite['codigo'].is_unique

True

In [104]:
# Caminho para o arquivo
objeto_acao = './dados_extraidos/v_objeto_acao_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_objeto_acao = pd.read_csv(objeto_acao, encoding='utf-8', sep=';')

print('Tabela Objeto Acao (codobjetoadm) (objeto_acao)')
df_objeto_acao.head(3)
#df_objeto_acao.columns

Tabela Objeto Acao (codobjetoadm) (objeto_acao)

,codigo,descricao,codempresa,migracao,ativo,cod_processo_tipo,migracao2,migracao3
0,100186293,Ação Ordinária,92577,NaN,1,J,NaN,NaN
1,481063,Alimentos,92577,NaN,1,J,NaN,NaN
2,501295,Prestação de Contas,92577,NaN,1,J,NaN,NaN

In [45]:
df_objeto_acao.shape

(78, 8)

In [46]:
# Caminho para o arquivo
pastas = './dados_extraidos/v_pastas_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_pastas = pd.read_csv(pastas, encoding='utf-8', sep=';')

print('Tabela Pastas')
df_pastas.head(3)
#df_pastas.columns

Tabela Pastas

,codigo,descricao,codempresa,codigo_pasta,tipo_pasta,migracao,usuario_codigo,ativo,migracao2,migracao3
0,687,PROCESSO - PEÇAS DOS AUTOS,0,0,0,NaN,NaN,2,NaN,NaN

In [47]:
df_pastas.shape

(1, 10)

In [48]:
# Caminho para o arquivo
perfil_cliente = './dados_extraidos/v_perfil_cliente_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_perfil_cliente = pd.read_csv(perfil_cliente, encoding='utf-8', sep=';')

print('Tabela Perfil Cliente')
df_perfil_cliente.head(3)
#df_perfil_cliente.columns

Tabela Perfil Cliente

,codigo,descricao,data_cadastro,ativo,cod_empresa,migracao,migracao2,migracao3
0,100048837,Prolixo,2021-02-02 17:28:34,1,92577,NaN,NaN,NaN
1,100041303,Insatisfeito com o Processo,2020-06-29 12:03:11,1,92577,NaN,NaN,NaN
2,100041302,Malicioso,2020-06-29 12:01:25,1,92577,NaN,NaN,NaN

In [49]:
df_perfil_cliente.shape

(17, 8)

In [84]:
# Caminho para o arquivo
processos = './dados_extraidos/v_processos_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_processos = pd.read_csv(processos, encoding='utf-8', sep=';')

print('Tabela Processos')
df_processos.head(3)
#df_processos.columns

Tabela Processos

,cod_empresa,numero_processo,pasta,numero_interno,data_distribuicao,codarea_acao,tipo_acao,local_tramite,data_atendimento,vinculo_tipo,cod_cliente,cod_usuario,cod_advogado_usuario,cod_parte_adversa,cod_adv_parte_adversa,valor_causa,observacoes,data_encerramento,inclusao,ativo,codigo,objeto_acao,etiqueta,destino,tipo,codorigem,data_entrada,prazo,previsao_saida,cod_processo_apensar,exibir_apenso_raiz,favorito,codprognostico,tipoprocesso,codassunto,coddetalhesadm,codobjetoadm,origem,codlocaltramite,uf,codcomarca,prognostico,statusprocessual,grupo_processo,codigo_fase,data_contratacao,pedido,codparceiros,data_transitojulgado,data_sentenca,data_execucao,contingencia,valor_causa2,migracao,acao_ajuizada,cod_fase_processo,campo_livre3,processo_traduzido,campo_livre2,campo_livre1,campo_livre4,numero_pasta,numero_cnj,migra_parceiro,unificador_cliente,cod_cliente_removido,cnj_ok,unificador_processo,cod_processo_removido,migracao2,numero_vara,migracao3,data_ultima_visualizacao,segredo_justica,capturar_andamentos
0,92577,Aguardando numeração,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,100910080,347394,0,0,0,0.0,NaN,NaN,18/07/2018 11:51,2,100980664,0,NaN,0,0,0,NaN,NaN,NaN,NaN,S,0,0,J,0,0,0,NaN,0,UF,0,NaN,0,0,0,NaN,NaN,0,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,1548.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,18/07/2018 11:51,NaN,NaN
1,92577,"1,23451E+17",0.0,NaN,26/06/2018 00:00,1,NaN,NaN,NaN,NaN,16473336,301340,0,0,0,0.0,NaN,NaN,14/12/2017 18:19,0,16928975,253559,NaN,119782,0,0,NaN,NaN,NaN,NaN,S,0,3,J,134828,0,253559,NaN,282374,MG,183050,NaN,30996,44062,184959,14/12/2017 00:00,INDENIZAÇÃO SPC,15441751,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,67701.0,NaN,1375.0,0012345-12.2024.1.12.0000,NaN,NaN,NaN,1.0,0,0,NaN,1.0,NaN,18/10/2018 15:14,NaN,NaN
2,92577,Aguardando numeração,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,15916190,347394,0,0,0,0.0,NaN,NaN,22/08/2017 17:16,2,16343497,0,NaN,0,0,0,NaN,NaN,NaN,NaN,S,0,0,J,0,0,0,NaN,0,UF,0,NaN,0,0,0,NaN,NaN,0,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,1264.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,22/08/2017 17:16,NaN,NaN

In [51]:
df_processos.shape

(1045, 75)

In [52]:
df_processos['codigo'].is_unique

True

In [95]:
# Caminho para o arquivo
prognosticos = './dados_extraidos/v_prognosticos_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_prognosticos = pd.read_csv(prognosticos, encoding='utf-8', sep=';')

print('Tabela Prognosticos (codprognostico)')
df_prognosticos.head(8)
#df_prognosticos.columns

Tabela Prognosticos (codprognostico)

,codigo,codempresa,descricao,migracao,ativo,migracao2,migracao3
0,3,0,Procedência Parcial Provável,NaN,1,NaN,NaN
1,1,0,Procedência Provável,NaN,1,NaN,NaN
2,11810,92577,Improcedência Provável,NaN,1,NaN,NaN
3,2,0,Improcedência Provável,NaN,1,NaN,NaN
4,12644,92577,Procedência Parcial Provável,NaN,1,NaN,NaN
5,16382,92577,Indefinido,NaN,1,NaN,NaN
6,4,0,Indefinido,NaN,1,NaN,NaN
7,11981,92577,Procedência Provável,NaN,1,NaN,NaN

In [54]:
df_prognosticos.shape

(8, 7)

In [55]:
# Caminho para o arquivo
protocolo_status = './dados_extraidos/v_protocolo_status_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_protocolo_status = pd.read_csv(protocolo_status, encoding='utf-8', sep=';')

print('Tabela Protocolo Status')
df_protocolo_status.head(8)
#df_protocolo_status.columns

Tabela Protocolo Status

,codigo,descricao,data_cadastro,ativo,cod_empresa,migracao,migracao2,migracao3
0,1,Aguardando entrega ao destinatário,2010-10-03 17:01:07,1,0,NaN,NaN,NaN
1,4,Entregue ao destinatário,2010-10-03 17:47:14,1,0,NaN,NaN,NaN
2,5,Recebido pelo destinatário,2010-10-03 17:47:17,1,0,NaN,NaN,NaN
3,6,Devolvido pelo destinatário,2010-10-03 17:47:18,1,0,NaN,NaN,NaN
4,7,Não recebido pelo destinatário,2010-10-03 17:47:19,1,0,NaN,NaN,NaN
5,8,Destinatário ausente,2010-10-03 17:47:20,1,0,NaN,NaN,NaN
6,9,Destinatário não encontrado/inexistente,2010-10-03 17:48:02,1,0,NaN,NaN,NaN
7,10,Rejeitado pelo Destinatário,2010-10-03 17:48:10,1,0,NaN,NaN,NaN

In [56]:
df_protocolo_status.shape

(8, 8)

In [85]:
# Caminho para o arquivo
recurso = './dados_extraidos/v_recurso_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_recurso = pd.read_csv(recurso, encoding='utf-8', sep=';')

print('Tabela Recurso')
df_recurso.head(3)
#df_recurso.columns

Tabela Recurso

,codigo,codempresa,codusuario,codprocesso,codtipo,codtribunal,orgao_julgador,relator,data_distribuicao,data_conclusao,data_julgamento,inclusao,codprognostico,prognostico,resultado,numero_recurso,ativo,cod_orgao_julgado,cod_tribunal_uf,numero_orgao_julgado,migracao,migracao2,unificador_processo,cod_processo_removido,migracao3
0,238722,92577,301340,5115841,4294,4619,NaN,JUIZ FEDERAL,NaN,NaN,NaN,11/12/2012 13:26,1848,NaN,NaN,1234567.00.2024.1.12.1234,1,2.0,7.0,2.0,NaN,NaN,0,0,NaN
1,234533,92577,301340,4531777,4284,4623,NaN,MINISTRO,21/11/2012 00:00,NaN,NaN,23/11/2012 09:45,1848,NaN,NaN,1234567.00.2024.1.12.1235,1,NaN,7.0,NaN,NaN,NaN,0,0,NaN
2,246548,92577,301340,4569594,4284,4623,NaN,RELATOR,22/02/2013 00:00,NaN,NaN,26/02/2013 11:34,1966,NaN,NaN,1234567.00.2024.1.12.1236,1,NaN,7.0,NaN,NaN,NaN,0,0,NaN

In [58]:
df_recurso.shape

(49, 25)

In [59]:
# Caminho para o arquivo
recurso_prognostico = './dados_extraidos/v_recurso_prognostico_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_recurso_prognostico = pd.read_csv(recurso_prognostico, encoding='utf-8', sep=';')

print('Tabela Recurso Prognostico')
df_recurso_prognostico.head(4)
#df_recurso_prognostico.columns

Tabela Recurso Prognostico

,codigo,codempresa,descricao,ativo,migracao,migracao2,migracao3
0,1966,92577,Improcedência Provável,1,NaN,NaN,NaN
1,1848,92577,Procedência Provável,1,NaN,NaN,NaN
2,2723,92577,Indefinido,1,NaN,NaN,NaN
3,2211,92577,Procedência Parcial Provável,1,NaN,NaN,NaN

In [60]:
df_recurso_prognostico.shape

(4, 7)

In [96]:
# Caminho para o arquivo
statusprocessual = './dados_extraidos/v_statusprocessual_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_statusprocessual = pd.read_csv(statusprocessual, encoding='utf-8', sep=';')

print('Tabela Status Processual (statusprocessual)')
df_statusprocessual.head(30)
#df_statusprocessual.columns

Tabela Status Processual (statusprocessual)

,codigo,descricao,codempresa,migracao,ativo,migracao2,migracao3
0,1,DEMANDADO,0,NaN,1,NaN,NaN
1,32481,Réu,92577,NaN,1,NaN,NaN
2,3,------------------------------,0,NaN,0,NaN,NaN
3,33277,Impetrante,92577,NaN,1,NaN,NaN
4,30996,Autor,92577,NaN,1,NaN,NaN
5,37103,Reclamada,92577,NaN,1,NaN,NaN
6,62831,Impetrado,92577,NaN,1,NaN,NaN
7,2,DEMANDANTE,0,NaN,1,NaN,NaN
8,32239,Reclamante,92577,NaN,1,NaN,NaN
9,68758,Agravante,92577,NaN,1,NaN,NaN
10,119768,Executado,92577,NaN,1,NaN,NaN
11,69661,Requerente,92577,NaN,1,NaN,NaN
12,78184,Recorrente,92577,NaN,1,NaN,NaN
13,68915,Embargado,92577,NaN,1,NaN,NaN
14,86048,Recorrido,92577,NaN,1,NaN,NaN
15,92805,Exequente,92577,NaN,1,NaN,NaN
16,94416,Impugnado,92577,NaN,1,NaN,NaN
17,96601,Consignado,92577,NaN,1,NaN,NaN
18,104357,Requerido,92577,NaN,1,NaN,NaN
19,105351,Excipiente,92577,NaN,1,NaN,NaN
20,105352,Excepto,92577,NaN,1,NaN,NaN
21,122077,Agravado,92577,NaN,1,NaN,NaN
22,122097,Agravado,92577,NaN,1,NaN,NaN
23,100013267,Precatório,92577,NaN,1,NaN,NaN
24,100030631,Interessado,92577,NaN,1,NaN,NaN

In [62]:
df_statusprocessual.shape

(25, 7)

In [63]:
df_statusprocessual['descricao'].is_unique

False

In [64]:
df_statusprocessual['descricao'].value_counts()

descricao
Agravado                          2
DEMANDADO                         1
Réu                               1
Precatório                        1
Excepto                           1
Excipiente                        1
Requerido                         1
Consignado                        1
Impugnado                         1
Exequente                         1
Recorrido                         1
Embargado                         1
Recorrente                        1
Requerente                        1
Executado                         1
Agravante                         1
Reclamante                        1
DEMANDANTE                        1
Impetrado                         1
Reclamada                         1
Autor                             1
Impetrante                        1
------------------------------    1
Interessado                       1
Name: count, dtype: int64

In [98]:
# Caminho para o arquivo
tipo_recurso = './dados_extraidos/v_tipo_recurso_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_tipo_recurso = pd.read_csv(tipo_recurso, encoding='utf-8', sep=';')

print('Tabela Tipos de Recursos')
df_tipo_recurso.head(3)
#df_tipo_recurso.columns

Tabela Tipos de Recursos

,codigo,codempresa,descricao,migracao,ativo,migracao2,migracao3
0,4292,0,Embargos,NaN,1,NaN,NaN
1,4284,0,Apelação,NaN,1,NaN,NaN
2,4298,0,Agravo de Instrumento contra negativa de RE,NaN,1,NaN,NaN

In [66]:
df_tipo_recurso.shape

(20, 7)

In [67]:
df_tipo_recurso['codigo'].is_unique

True

In [68]:
df_tipo_recurso['descricao'].is_unique

True

In [100]:
# Caminho para o arquivo
tribunal = './dados_extraidos/v_tribunal_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_tribunal = pd.read_csv(tribunal, encoding='utf-8', sep=';')

print('Tabela Tribunais')
df_tribunal.head(3)
#df_tribunal.columns

Tabela Tribunais

,codigo,codempresa,descricao,migracao,ativo,migracao2,migracao3
0,4621,0,Tribunal Regional do Trabalho,NaN,1,NaN,NaN
1,4619,0,Turma Recursal,NaN,1,NaN,NaN
2,4620,0,Tribunal Militar,NaN,1,NaN,NaN

In [70]:
df_tribunal.shape

(10, 7)

In [71]:
df_tribunal['descricao'].is_unique

True

In [72]:
# Caminho para o arquivo
usuario_advogado = './dados_extraidos/v_usuario_advogado_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_usuario_advogado = pd.read_csv(usuario_advogado, encoding='utf-8', sep=';')

print('Tabela Usuario Advogado')
df_usuario_advogado.head(3)
#df_usuario_advogado.columns

Tabela Usuario Advogado

   cod_integra_schema  cod_empresa  cod_usuario  cod_advogado
0                   1        92577       301340         39270
1                   1        92577       302720         39270
2                   1        92577       347394         39270

In [73]:
df_usuario_advogado.shape

(11, 4)

In [103]:
# Caminho para o arquivo
usuario = './dados_extraidos/v_usuario_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_usuario = pd.read_csv(usuario, encoding='utf-8', sep=';')

print('Tabela Usuario (cod_usuario)')
df_usuario.head(3)
#df_usuario.columns

Tabela Usuario (cod_usuario)

,id,usuario,senha,email_velho,nome,apelido,data_cadastro,data_atualizacao,data_ativo,data_inativo,dia_nascimento,mes_nascimento,ativo,cod_empresa,cod_usuario_nivel,cod_integra_schema,cod_cor_sistema,cod_modulo_principal,status,mensagem_pessoal,img,cod_controle_acesso_grupo,cod_tema_sistema,codigo,modelo_agenda,agrupamento_imail,email,flag_alteracao_cor_integra,cod_usuario_unico,migracao2,migracao3,migracao,google_agenda_access_token,google_agenda_refresh_token,bool_nao_exibir_tour_cnj,horario_personalizado
0,302720,candidato1@advbox,c1,NaN,Candidato 1,Beltrano 1,22/06/2012 12:57,NaN,NaN,NaN,3,4,1,92577,6965,1,12,132,NaN,NaN,NaN,0,9,302720,2,1,c1@advbox.com.br,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
1,360111,candidato2@advbox,c2,NaN,Candidato 2,Beltrano 2,17/12/2013 09:35,NaN,NaN,NaN,30,5,2,92577,3,1,22,21,NaN,NaN,NaN,0,6,360111,2,1,c2@advbox.com.br,S,0.0,NaN,NaN,NaN,NaN,NaN,NaN,f
2,100121696,candidato3@advbox,c3,NaN,Candidato 3,Beltrano 3,17/01/2022 10:34,NaN,NaN,NaN,0,0,1,92577,100000818,1,32,132,NaN,NaN,NaN,0,9,100121696,2,1,c3@advbox.com.br,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f

In [75]:
df_usuario.shape

(13, 36)

In [76]:
df_usuario['id'].is_unique

True

In [77]:
# Caminho para o arquivo
valor_causa2 = './dados_extraidos/v_valor_causa2_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_valor_causa2 = pd.read_csv(valor_causa2, encoding='utf-8', sep=';')

print('Tabela Valor Causa2 - codprocesso')
df_valor_causa2.head(3)
#df_valor_causa2.columns

Tabela Valor Causa2 - codprocesso

,codigo,valor_causa,codprocesso,codempresa,data_inclusao,codusuario,unificador_processo,cod_processo_removido,migracao3,migracao,migracao2
0,59635,0.0,4667559,92577,2012-08-31 17:53:04,302720,NaN,NaN,NaN,NaN,NaN
1,69225,0.0,4919609,92577,2012-11-25 16:26:41,301340,NaN,NaN,NaN,NaN,NaN
2,69687,0.0,4891112,92577,2012-11-28 19:43:14,301340,NaN,NaN,NaN,NaN,NaN

In [78]:
df_valor_causa2.shape

(357, 11)

In [79]:
df_valor_causa2['codigo'].is_unique

True

In [80]:
# Caminho para o arquivo
valor_causa = './dados_extraidos/v_valor_causa_CodEmpresa_92577.csv'

# Carregar o arquivo CSV com a configuração necessária
df_valor_causa = pd.read_csv(valor_causa, encoding='utf-8', sep=';')

print('Tabela Valor Causa - codprocesso')
df_valor_causa.head(5)
#df_valor_causa.columns

Tabela Valor Causa - codprocesso

,codigo,valor_causa,codprocesso,codempresa,data_inclusao,codusuario,unificador_processo,cod_processo_removido,migracao3,migracao,migracao2
0,1156244,0.0,12310496,92577,2016-05-10 10:59:57,301340,NaN,NaN,NaN,NaN,NaN
1,847823,0.0,7465958,92577,2014-08-06 15:13:16,301340,NaN,NaN,NaN,NaN,NaN
2,864483,0.0,9121065,92577,2014-09-08 17:52:53,301340,NaN,NaN,NaN,NaN,NaN
3,868109,18000.0,9364468,92577,2014-09-16 15:39:54,301340,NaN,NaN,NaN,NaN,NaN
4,886323,30000.0,9383468,92577,2014-10-22 12:23:06,302720,NaN,NaN,NaN,NaN,NaN

In [81]:
df_valor_causa.shape

(1245, 11)

In [82]:
df_valor_causa['codigo'].is_unique

True